project1.json
[{"id":"8631ccb.afc613","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"9d1d9568.ff8f68","type":"tab","label":"csv","disabled":false,"info":""},{"id":"b1be4e96.26639","type":"tab","label":"kafka-producer","disabled":false,"info":""},{"id":"2c8b9095.7cae","type":"tab","label":"kafka-consumer","disabled":false,"info":""},{"id":"f55d198a.158778","type":"tab","label":"context-sample","disabled":false,"info":""},{"id":"67d5f4d2.da0ffc","type":"tab","label":"link-sample","disabled":false,"info":""},{"id":"2a411534.cac44a","type":"tab","label":"rest api","disabled":false,"info":""},{"id":"9c9ec774.28ac08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fda6649.ab5608","type":"kafka-broker","z":"","broker":"localhost:9092","clientid":""},{"id":"e05ce89d.13e358","type":"kafka-broker","z":"","broker":"118.190.132.107:9092","clientid":""},{"id":"45a3dba9.52fb54","type":"kafka-broker","z":"","broker":"118.190.132.107:9092","clientid":""},{"id":"b5c55e4.41405a","type":"split","z":"8631ccb.afc613","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":120,"wires":[["5fa6e808.b1fef8","6f098427.cf9bec"]]},{"id":"5fa6e808.b1fef8","type":"csv","z":"8631ccb.afc613","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1100,"y":140,"wires":[[]]},{"id":"6f098427.cf9bec","type":"html","z":"8631ccb.afc613","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":1100,"y":260,"wires":[[]]},{"id":"baadba8c.725ec8","type":"mqtt in","z":"8631ccb.afc613","name":"","topic":"mqtt1","qos":"2","broker":"9c9ec774.28ac08","x":90,"y":82,"wires":[["f157c974.2f2118"]]},{"id":"d6d7a838.0bf968","type":"debug","z":"8631ccb.afc613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":70,"wires":[]},{"id":"f157c974.2f2118","type":"change","z":"8631ccb.afc613","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"world","fromt":"str","to":"from node-Red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":138,"wires":[["d6d7a838.0bf968"]]},{"id":"40245ecb.7de09","type":"mqtt in","z":"8631ccb.afc613","name":"","topic":"mqtt1","qos":"2","broker":"9c9ec774.28ac08","x":93,"y":235,"wires":[["d3716bf5.e670d8"]]},{"id":"166e6716.d38159","type":"debug","z":"8631ccb.afc613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":547,"y":270,"wires":[]},{"id":"d3716bf5.e670d8","type":"change","z":"8631ccb.afc613","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"world","fromt":"str","to":"from node-Red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":322,"y":197,"wires":[["166e6716.d38159"]]},{"id":"80ec85ae.502b18","type":"inject","z":"9d1d9568.ff8f68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":76.5,"y":43,"wires":[["8728072c.22c598"]]},{"id":"e265dd90.31628","type":"debug","z":"9d1d9568.ff8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":678.5,"y":167,"wires":[]},{"id":"5fa97c92.4286d4","type":"csv","z":"9d1d9568.ff8f68","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":489.5,"y":169,"wires":[["e265dd90.31628"]]},{"id":"8728072c.22c598","type":"file in","z":"9d1d9568.ff8f68","name":"","filename":"/Users/yangwm/log/exceldata/dlxdata1.csv","format":"utf8","chunk":false,"sendError":false,"x":278.5,"y":110,"wires":[["5fa97c92.4286d4"]]},{"id":"6a9c6607.d74e88","type":"rdkafka out","z":"b1be4e96.26639","name":"producer","topic":"test2","key":"","partition":-1,"broker":"e05ce89d.13e358","x":556.5,"y":170,"wires":[]},{"id":"57c1e171.3f0bb","type":"inject","z":"b1be4e96.26639","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":167.5,"y":168,"wires":[["52f0c25e.bda73c"]]},{"id":"52f0c25e.bda73c","type":"function","z":"b1be4e96.26639","name":"","func":"var msg = {key: \"aaa\" , payload:\"helloworld\"};\nnode.log(msg.key) ;\nreturn msg;","outputs":1,"noerr":0,"x":349.5,"y":136,"wires":[["6a9c6607.d74e88"]]},{"id":"cd6fd609.47be98","type":"rdkafka in","z":"2c8b9095.7cae","name":"","topic":"mysql_to_kafka","cgroup":"node-red-rdkafka","autocommit":true,"broker":"e05ce89d.13e358","x":168.5,"y":160,"wires":[["8c1282ba.e9ef9"]]},{"id":"8c1282ba.e9ef9","type":"json","z":"2c8b9095.7cae","name":"","property":"payload","action":"","pretty":false,"x":302.5,"y":85,"wires":[["80089d92.80cdf"]]},{"id":"80089d92.80cdf","type":"function","z":"2c8b9095.7cae","name":"","func":"msg.payload.cost = 111;\nreturn msg;","outputs":1,"noerr":0,"x":438.5,"y":154,"wires":[["6482c058.a63b4"]]},{"id":"6482c058.a63b4","type":"rdkafka out","z":"2c8b9095.7cae","name":"","topic":"mysql_to_kafka2","key":"","partition":-1,"broker":"e05ce89d.13e358","x":625.5,"y":156,"wires":[]},{"id":"adb2b4c7.faa558","type":"rdkafka in","z":"2c8b9095.7cae","name":"","topic":"mysql_to_kafka2","cgroup":"node-red-rdkafka","autocommit":true,"broker":"e05ce89d.13e358","x":116.5,"y":302,"wires":[["daa0b540.1bd888"]]},{"id":"86241c6e.70ef2","type":"inject","z":"f55d198a.158778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.5,"y":204,"wires":[["e4004d0e.045db"]]},{"id":"e4004d0e.045db","type":"function","z":"f55d198a.158778","name":"set count value","func":"var value = flow.get('count')||0;\nvalue++;\nflow.set('count',value);\nreturn {payload: value};","outputs":1,"noerr":0,"x":288.5,"y":203,"wires":[["f9bc3558.fe3508"]]},{"id":"f9bc3558.fe3508","type":"debug","z":"f55d198a.158778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":517.5,"y":203,"wires":[]},{"id":"f3d42e2b.cb94e","type":"inject","z":"f55d198a.158778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":81.5,"y":306,"wires":[["a02898b8.22ace8"]]},{"id":"a02898b8.22ace8","type":"function","z":"f55d198a.158778","name":"get count value","func":"\nreturn {payload : flow.get('count')};","outputs":1,"noerr":0,"x":287.5,"y":303,"wires":[["2f66f38a.83ddec"]]},{"id":"2f66f38a.83ddec","type":"debug","z":"f55d198a.158778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430.5,"y":289,"wires":[]},{"id":"1520d1a3.2b1a3e","type":"inject","z":"67d5f4d2.da0ffc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141.5,"y":156,"wires":[["3cec59e6.75c336"]]},{"id":"3cec59e6.75c336","type":"delay","z":"67d5f4d2.da0ffc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":302.5,"y":153,"wires":[["af94430.0e1efc"]]},{"id":"af94430.0e1efc","type":"link out","z":"67d5f4d2.da0ffc","name":"","links":["90374c88.edc1c"],"x":467.5,"y":144,"wires":[]},{"id":"90374c88.edc1c","type":"link in","z":"67d5f4d2.da0ffc","name":"","links":["af94430.0e1efc"],"x":122.5,"y":280,"wires":[["2951fb38.b4d8a4"]]},{"id":"2951fb38.b4d8a4","type":"debug","z":"67d5f4d2.da0ffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":263.5,"y":281,"wires":[]},{"id":"1f480d6b.548de3","type":"inject","z":"2a411534.cac44a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79.5,"y":204,"wires":[["6a3e6823.40c378"]]},{"id":"5a91b3af.5ec5ec","type":"debug","z":"2a411534.cac44a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610.5,"y":175,"wires":[]},{"id":"6a3e6823.40c378","type":"http request","z":"2a411534.cac44a","name":"天气 api","method":"GET","ret":"obj","url":"http://www.weather.com.cn/data/cityinfo/101190408.html","tls":"","x":248.5,"y":152,"wires":[["b0f03c9.b8b12c"]]},{"id":"b0f03c9.b8b12c","type":"function","z":"2a411534.cac44a","name":"","func":"\nreturn {payload : msg.payload.weatherinfo.city};","outputs":1,"noerr":0,"x":390.5,"y":162,"wires":[["5a91b3af.5ec5ec"]]},{"id":"812c7897.6f5618","type":"inject","z":"9d1d9568.ff8f68","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":87.5,"y":238,"wires":[["8cb9539c.d1bd3"]]},{"id":"8cb9539c.d1bd3","type":"http request","z":"9d1d9568.ff8f68","name":"","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":250.5,"y":262,"wires":[["1f90f943.559a67"]]},{"id":"1f90f943.559a67","type":"csv","z":"9d1d9568.ff8f68","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":428.5,"y":274,"wires":[["5d00462e.71ca18"]]},{"id":"5d00462e.71ca18","type":"debug","z":"9d1d9568.ff8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605.5,"y":290,"wires":[]},{"id":"77285860.8ac7e8","type":"lower-case","z":"9d1d9568.ff8f68","name":"","x":386.5,"y":394,"wires":[["cadcd5e4.6447b8"]]},{"id":"d58d28e5.30f9f8","type":"inject","z":"9d1d9568.ff8f68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.5,"y":381,"wires":[["d1390adc.178388"]]},{"id":"d1390adc.178388","type":"function","z":"9d1d9568.ff8f68","name":"","func":"var msg = {\"payload\":\"This is A Test\"};\nreturn msg;","outputs":1,"noerr":0,"x":209.5,"y":429,"wires":[["77285860.8ac7e8"]]},{"id":"cadcd5e4.6447b8","type":"debug","z":"9d1d9568.ff8f68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":585.5,"y":399,"wires":[]},{"id":"a5931863.67bca8","type":"comment","z":"9d1d9568.ff8f68","name":"csv","info":"读取Excel文件格式","x":613.5,"y":64,"wires":[]},{"id":"8c8f7766.7848d8","type":"batch","z":"2c8b9095.7cae","name":"","mode":"interval","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":444.5,"y":299,"wires":[["80b12564.827ae8"]]},{"id":"daa0b540.1bd888","type":"json","z":"2c8b9095.7cae","name":"","property":"payload","action":"","pretty":false,"x":276.5,"y":305,"wires":[["8c8f7766.7848d8"]]},{"id":"80b12564.827ae8","type":"debug","z":"2c8b9095.7cae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":593.5,"y":293,"wires":[]},{"id":"6f2a4e7b.8b89","type":"switch","z":"2c8b9095.7cae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":301.5,"y":459,"wires":[["51cd4181.b69d1"],["b15397d7.553198"]]},{"id":"51cd4181.b69d1","type":"debug","z":"2c8b9095.7cae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":495.5,"y":399,"wires":[]},{"id":"b15397d7.553198","type":"debug","z":"2c8b9095.7cae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":494.5,"y":504,"wires":[]},{"id":"1b86cf88.9870b","type":"inject","z":"2c8b9095.7cae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111.5,"y":447,"wires":[["128dd6fd.1fe849"]]},{"id":"128dd6fd.1fe849","type":"function","z":"2c8b9095.7cae","name":"","func":"var msg = {payload: 1};\nreturn msg;","outputs":1,"noerr":0,"x":156.5,"y":515,"wires":[["6f2a4e7b.8b89"]]}]