project1.json
[{"id":"8631ccb.afc613","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"9c9ec774.28ac08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b5c55e4.41405a","type":"split","z":"8631ccb.afc613","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":120,"wires":[["5fa6e808.b1fef8","6f098427.cf9bec"]]},{"id":"5fa6e808.b1fef8","type":"csv","z":"8631ccb.afc613","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1100,"y":140,"wires":[[]]},{"id":"6f098427.cf9bec","type":"html","z":"8631ccb.afc613","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":1100,"y":260,"wires":[[]]},{"id":"baadba8c.725ec8","type":"mqtt in","z":"8631ccb.afc613","name":"","topic":"mqtt1","qos":"2","broker":"9c9ec774.28ac08","x":130,"y":140,"wires":[["d6d7a838.0bf968"]]},{"id":"d6d7a838.0bf968","type":"debug","z":"8631ccb.afc613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":140,"wires":[]}]