project1.json
[{"id":"8631ccb.afc613","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"9c9ec774.28ac08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b5c55e4.41405a","type":"split","z":"8631ccb.afc613","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":120,"wires":[["5fa6e808.b1fef8","6f098427.cf9bec"]]},{"id":"5fa6e808.b1fef8","type":"csv","z":"8631ccb.afc613","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1100,"y":140,"wires":[[]]},{"id":"6f098427.cf9bec","type":"html","z":"8631ccb.afc613","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":1100,"y":260,"wires":[[]]},{"id":"baadba8c.725ec8","type":"mqtt in","z":"8631ccb.afc613","name":"","topic":"mqtt1","qos":"2","broker":"9c9ec774.28ac08","x":90,"y":82,"wires":[["f157c974.2f2118"]]},{"id":"d6d7a838.0bf968","type":"debug","z":"8631ccb.afc613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":70,"wires":[]},{"id":"f157c974.2f2118","type":"change","z":"8631ccb.afc613","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"world","fromt":"str","to":"from node-Red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":138,"wires":[["d6d7a838.0bf968"]]},{"id":"40245ecb.7de09","type":"mqtt in","z":"8631ccb.afc613","name":"","topic":"mqtt1","qos":"2","broker":"9c9ec774.28ac08","x":93,"y":235,"wires":[["d3716bf5.e670d8"]]},{"id":"166e6716.d38159","type":"debug","z":"8631ccb.afc613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":547,"y":270,"wires":[]},{"id":"d3716bf5.e670d8","type":"change","z":"8631ccb.afc613","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"world","fromt":"str","to":"from node-Red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":322,"y":197,"wires":[["166e6716.d38159"]]},{"id":"8e929cd9.4f876","type":"bigfile reader","z":"8631ccb.afc613","name":"","filename":"","nopayload":false,"flow":"blocks","highWaterMark":16,"encoding":"utf8","format":"utf8","keepEmptyLines":false,"x":97.5,"y":343,"wires":[[],[]]}]